* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  list-style: none;

  font-family: "Kode Mono", monospace;
}

html {
  font-size: 64.5%;
}

.container {
  margin-top: 200px;
}

body {
  width: 100%;
  height: 100%;
  --s: 105px; /* control the size */
  --c1: #b9b9b9;
  --c2: #dcdcdc;
  --c3: #fafafa;

  background: conic-gradient(
        from 75deg,
        var(--c1) 15deg,
        var(--c2) 0 30deg,
        #0000 0 180deg,
        var(--c2) 0 195deg,
        var(--c1) 0 210deg,
        #0000 0
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) / 0.577),
    conic-gradient(
      var(--c1) 30deg,
      var(--c3) 0 75deg,
      var(--c1) 0 90deg,
      var(--c2) 0 105deg,
      var(--c3) 0 150deg,
      var(--c2) 0 180deg,
      var(--c3) 0 210deg,
      var(--c1) 0 256deg,
      var(--c2) 0 270deg,
      var(--c1) 0 286deg,
      var(--c2) 0 331deg,
      var(--c3) 0
    );
  background-size: var(--s) calc(var(--s) / 0.577);
}

/* heading  */
.container {
  width: 70%;
}

.head-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: #ffffff;
  border-radius: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #010a00;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.head {
  font-size: 5rem;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.neon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.input-btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.inp-div {
  display: block;
}

.input-container {
  margin-top: 0px;
  position: relative;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 40px;
  border: 2px solid #0b2447;
  border-top: none;
  border-bottom: none;
  font-size: 16px;
  outline: none;
  box-shadow: 7px 7px 0px 0px #0b2447;
  transition: all 0.5s;
  width: 100%;
}

.input:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #0b2447;
  transition: all 0.5s;
  transform: scale(0);
  z-index: -0.5;
  font-size: 1.5rem;
}

.input-container .topline {
  position: absolute;
  content: "";
  background-color: #0b2447;
  width: 0%;
  height: 2px;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .topline {
  width: 35%;
  transition: all 0.5s;
}

.input-container .underline {
  position: absolute;
  content: "";
  background-color: #0b2447;
  width: 0%;
  height: 2px;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .underline {
  width: 100%;
  transition: all 0.5s;
}

.input-container input[type="text"]:focus ~ .label {
  top: -10px;
  transform: scale(1);
  transition: all 0.5s;
}

button {
  color: #000000;
  background: #fff;
  margin-left: 20px;
  border: none;
  padding: 10px 20px;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: flex;
  transform: skew(21deg);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}


#li {
  display: inline;

  font-size: 3rem;
}
.li-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 30px;
  margin: 20px;
}
